<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group d-flex align-items-end">
          <label for="name" class="col-form-label me-2">Name</label>
          <div class="col">
            <input type="text" id="name" class="form-control" name="name" ngModel required/>
          </div>
        </div>
        <div class="col-sm-7 form-group d-flex align-items-end">
          <label for="amount" class="col-form-label me-2">Amount</label>
          <div class="col">
            <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-end m-2">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add</button>
          <button class="btn btn-danger mx-2" type="button">Delete</button>
          <button class="btn btn-primary me-2" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
